In [26]:
import polars as pl
import numpy as np

In [39]:
df = pl.scan_csv("data/Titanic-Dataset.csv").lazy()

In [41]:
df.select(
    pl.pearson_corr(
        pl.col('Survived'),
        pl.col('Age').cast(pl.Int64)
    )
).collect()

shape: (1, 1)
┌───────────┐
│ Survived  │
│ ---       │
│ f64       │
╞═══════════╡
│ -0.077151 │
└───────────┘

In [42]:
df.groupby(['Pclass','Sex']).agg([
    pl.col('Survived').mean().alias('Survived Rate'),
    pl.col('Age').mean().alias('Age Mean'),
    pl.col('Fare').max().alias('minimum fare')
]).sort(by='Pclass').collect()

shape: (6, 5)
┌────────┬────────┬───────────────┬───────────┬──────────────┐
│ Pclass ┆ Sex    ┆ Survived Rate ┆ Age Mean  ┆ minimum fare │
│ ---    ┆ ---    ┆ ---           ┆ ---       ┆ ---          │
│ i64    ┆ str    ┆ f64           ┆ f64       ┆ f64          │
╞════════╪════════╪═══════════════╪═══════════╪══════════════╡
│ 1      ┆ female ┆ 0.968085      ┆ 34.611765 ┆ 512.3292     │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1      ┆ male   ┆ 0.368852      ┆ 41.281386 ┆ 512.3292     │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2      ┆ female ┆ 0.921053      ┆ 28.722973 ┆ 65.0         │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2      ┆ male   ┆ 0.157407      ┆ 30.740707 ┆ 73.5         │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3      ┆ male   ┆ 0.135447      ┆ 26.507589 ┆ 69.55        │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3      ┆ female ┆ 0.5           ┆ 21.75     ┆ 69.55        │
└────────┴────────┴───────────────┴───────────┴──────────────┘

In [43]:
df = df.with_column(
    (pl.col('Sex') == 'male')
)

In [48]:
df.groupby(['Age']).agg([
    pl.count().alias('n'),
    pl.col('Survived').mean().alias('Survived Rate'),
    pl.col('Fare').mean().alias('Age Mean'),
]).sort(by='Age').collect().head(20)

shape: (20, 4)
┌──────┬─────┬───────────────┬───────────┐
│ Age  ┆ n   ┆ Survived Rate ┆ Age Mean  │
│ ---  ┆ --- ┆ ---           ┆ ---       │
│ f64  ┆ u32 ┆ f64           ┆ f64       │
╞══════╪═════╪═══════════════╪═══════════╡
│ null ┆ 177 ┆ 0.293785      ┆ 22.158567 │
├╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 0.42 ┆ 1   ┆ 1.0           ┆ 8.5167    │
├╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 0.67 ┆ 1   ┆ 1.0           ┆ 14.5      │
├╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 0.75 ┆ 2   ┆ 1.0           ┆ 19.2583   │
├╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...  ┆ ... ┆ ...           ┆ ...       │
├╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 11.0 ┆ 4   ┆ 0.25          ┆ 54.240625 │
├╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 12.0 ┆ 1   ┆ 1.0           ┆ 11.2417   │
├╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 13.0 ┆ 2   ┆ 1.0           ┆ 13.3646   │
├╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 14.0 ┆ 6   ┆ 0.5           ┆ 42.6257   │
└──────┴─────┴───────────────┴───────────┘